#logo {
    height: 100px;
    margin-top: 50px;
}
header {
    background-color:#4EA0FF ;
    background-image: url("./img/pattern.png");
    background-size:contain ;

}
#title {
    font-size: 70px;
    font-weight: 600;
}
.subtitle {
    color: #808080;
}
.blue {
    color: #20A9E5;
}
.highlight{
    background-color: yellow;
}
#toprow{
    background-color: #20A9E5;
    color: white;
}
.bluerow {
    background-color: #B1E5F2;
}